xml-resources/web-service-references/RentItTest.RentItService/wsdl/rentit.itu.dk/RentIt22/RentItTest.RentItService.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentItTest" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/RentItTest"><xs:complexType name="NodeOfint"><xs:annotation><xs:appinfo><GenericType Name="NodeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RentItTest" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"><GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema"/></GenericType></xs:appinfo></xs:annotation><xs:sequence><xs:element minOccurs="0" name="Element" type="xs:int"/><xs:element minOccurs="0" name="Next" nillable="true" type="tns:NodeOfint"/></xs:sequence></xs:complexType><xs:element name="NodeOfint" nillable="true" type="tns:NodeOfint"/></xs:schema>